{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/wtf.html" as utils %}
{% extends "base.html" %}
{% block title %}
    {% if add_data %}
      <a class='btn-default' href={{ url_for('home.ideabox') }}>Add idea</a>
    {% else %}
      <a class="btn-success" href='{{ url_for('home.edit_ideabox', id=data.id) }}'>Edit ideas</a>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              {% if add_data%}
              <div class="jumbotron">
                <h1>Post new idea<h1>
              </div>
              <br />
              {{ wtf.quick_form(form) }}
              {% else %}
                <h1>Edit your idea<h1>
                  <div class="jumbotron">
                    {% if data %}
                    <li>
                      <ul>{{ data.title }}</ul>
                      <ul>{{ data.description}}</ul>
                    </li>
                    {% endif %}
                  </div>
                  <br />
                  {{ wtf.quick_form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
