{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/wtf.html" as utils %}
{% extends "base.html" %}
    {% if add_data %}
      <a class='btn-default' href={{ url_for('home.ideabox') }}>Add idea</a>
    {% else %}
      <a class="btn-success" href='{{ url_for('home.edit_ideabox', id=data.id) }}'>Edit ideas</a>
    {% endif %}
    {% block nav%}
    {% endblock %}

{% block body %}
<div class="col-lg-12">
              <div class="headcontainer">
                <h1>Post new idea<h1>
              </div>
              <div class="well">
                {% if add_data%}
              <br />
              {{ wtf.quick_form(form) }}
              {% else %}
                <h1>Edit your idea<h1>
                  <div class="mycontainer">
                    {% if data %}
                    <li>
                      <ul>{{ data.title (placeholder='Leave this blank') }}</ul>
                      <ul>{{ data.description}}</ul>
                    </li>
                    {% endif %}
                  </div>
                  <br />
                  {{ wtf.quick_form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer%}
{% endblock %}
