<!-- app/templates/home/index.html -->
{% import "bootstrap/wtf.html" as wtf %}-
{% import "bootstrap/wtf.html" as utils %}
{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>IdeaBox<h1>
            <h3>Jot your ideas</h3>
              <div class="jumbotron">
                  {% for idea in ideas %}
                <h4>
                  <li>{{ idea.title }}</li>
                    <ul>{{ idea.description }}</ul>
                      {% endfor %}
              </div>
              <div class="jumbotron">
                {% for idea in ideas %}
                  {% if idea%}{{ ideas.title }}
                    <ul>
                      <a href='{{ url_for('home.edit_ideabox') }}'>Edit</a>
                    </ul>
                      <ul>{{ ideas.description }}</ul>

                  {% endif %}{% endfor %}
                </h4>
              </div>
                <br />
          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
