a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color:inherit;
}
body, html{
  background-color: #B3E5FC;
  font-family: 'Arsenal', sans-serif;
}
.LoginTitle{
margin-top: 50px;
margin-bottom: inherit;
text-align: center;
}

element.style {
    margin-top: 0px;
    padding-top: 50px !important;
}
.card{
  box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
  height:300px;
}
.headcontainer{
  margin-top: 10px;
  text-align: center;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.1);
}

.logincontainer{
  display: flex;
  justify-content: center;
}
.titlecontainer{
  margin: 20px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 1em;
}

.mycontainer{
  padding: 2px 16px;
}

.desccontainer{
  text-align: center;
  height: 199px;
}
p.desccontainer{
  margin: -111 0 10px;
}
p.copyright{
}
.alert-info {
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}
.center{
    padding: 10px;
    text-align: center;
}
.footer {
  clear: both;
}
.control-label{
  color: #18bc9c;
  font-size: 20px;
}
/*
.alert-info{
  width:50%
  margin: auto;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.btn-default:hover{
  background-color: #f8f8f8;
}

.center{
    margin: auto;
    width: 50%
    padding: 10px
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.flask-pagedown-input{

}
.flask-pagedown-preview{
  border: 1px dotted black;
  background-color: #f8f8f8;
}*/
